<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03_dot</title>
    <script src="../angular.min.js"></script>
    <link rel="stylesheet" href="../bootstrap.min.css"/>
</head>
<body ng-app="">
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 style="text-align: center">#3 dot</h1>
                <input type="text" class="form-control" ng-model="data"/>
                <h2>{{data}}</h2>

                <input type="text" class="form-control" ng-model="data"/>
                <h2>{{data}}</h2>

                <input type="text" class="form-control" ng-model="data"/>
                <h2>{{data}}</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>