<!DOCTYPE html>
<html ng-app='event'>

<head>
  <meta charset="utf-8">
  <title>$event_$log_$index</title>
  <link rel="stylesheet" href="../bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>

<body ng-controller="EventCtrl">
  <section class="contanier text-center">
    <div class="row">
      <div class="col-sm-12" style="padding: 30px">
        {{name}}
        <button class="btn btn-sm btn-primary" ng-click="ViewLog($event)">按钮</button>
      </div>

      <div class="panel panel-default col-sm-4">
        <div class="panel-heading">
          <h3 class="panel-title">One-Time data Binding</h3>
        </div>
        <div class="panel-body">
          {{::number}}
        </div>
      </div>

      <div class="panel panel-default col-sm-4">
        <div class="panel-heading">
          <h3 class="panel-title">data Binding</h3>
        </div>
        <div class="panel-body">
          {{number}}
        </div>
      </div>

      <div class="panel panel-default col-sm-4">
        <div class="panel-heading">
          <h3 class="panel-title">$index</h3>
        </div>
        <div class="panel-body">
          <div ng-show="toggle" ng-repeat="item in '我是徐越'.split('')">
            {{$index + 1}}. {{item}}
          </div>
        </div>
      </div>

    </div>
  </section>

  <script src="../angular.min.js"></script>
  <script>
    var event = angular.module('event', []);
    event.controller('EventCtrl', function($scope) {
      $scope.name = 'Click Me, and Watch the Console:';
      $scope.toggle = false;
      $scope.ViewLog = function($event) {
        var ev = $event;
        $scope.toggle = true;
        console.log(ev);
        $scope.number = Math.random() * 100;
        console.log($scope.number);
      }
    });
  </script>

  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>

</html>
